<h1>Dogs</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-title">Terrier</div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th *ngFor="let head of terrier.head.vars">{{ head }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mydata of terrier.results.bindings">
                <td *ngFor="let head of terrier.head.vars">
                  {{ mydata[head].value }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card">
        <div class="card-title">Herding</div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th *ngFor="let head of herding.head.vars">{{ head }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mydata of herding.results.bindings">
                <td *ngFor="let head of herding.head.vars">
                  {{ mydata[head].value }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
