<h1>pets</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-title">Dogs</div>
        <div class="card-body">
          <button class="btn btn-primary" (click)="redirect('pets/dogs')">
            View>>
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-title">Cats</div>
        <div class="card-body">
          <button class="btn btn-primary" (click)="redirect('pets/cats')">
            View>>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
